<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <body>
  
    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="col-md-4 text-white">
                <i>You have signed in as <b sec:authentication="name"></b>, 
                your role is <b th:text="${roleName}"></b>
            
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
            </form>
            </div>
            <ul class="nav navbar-nav">
                <li><a class="nav-link" th:href="@{/subscriptions}">Subscriptions</a></li>
                <li><a class="nav-link" th:href="@{/transactions}">Transactions</a></li>
            </ul>
        </div>    
    </nav>
  
  </body>
  
</html>