<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new friend form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/add}" th:object="${friend}" method="post">
    	<table>
    	<tr>
    		<td>First name: <input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
        	<td>Last name: <input type="text" th:field="*{lastName}" /></td>
        	
        </table>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>